@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Country ID</th>
                <th>Country Name</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1099</td>
                    <td>25</td>
                    <td>2333</td>
                </tr>
        </tbody>
    </table>
</div>
