@using Cashlend.Models
@model CountryInputViewModel

@{
    this.ViewData["Title"] = "Search";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary">Search</h5>
                    <form method="post" class="form-signin">

                        <div class="form-label-group">
                            <input asp-for="CountryName" class="form-control" placeholder="Countriy name " required />
                            <label asp-for="CountryName">Countriy name (between 2 and 40 characters)</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-block btn-primary text-white mb-3">start</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
